node_modules
.dist
coverage
dist
.vscode/.ropeproject
.env
.env.local
.env.*.local
*.log
*.tsbuildinfo  
.idea
.DS_Store  
*.iml
*.sublime-workspace
*.sublime-project
*.swp
*.swo
*.bak
*.tmp
*.log
*.pid
*.seed
*.pid.lock
*.gz
*.zip
*.tar
*.rar
*.7z
*.log
*.sql  
*.sqlite
*.sqlite3
*.db
*.db3
*.bak
*.backup
*.log
*.tmp
*.cache
*.tsbuildinfo
*.eslintcache
*.prettiercache
*.vscode
*.zip
*.doc
*.docx
*.lnk
firebaserules.txt